@import 'styles/mixin.scss';
.TablePostList {
  margin: 2rem;
  @include mobile {
    margin: 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      background-color: var(--secondary);
      tr {
        th {
        }
      }
    }

    tbody {
      .odd {
        background-color: var(--bg-toggle);
      }
      .even {
        background-color: var(--bg-primary);
      }

      tr {
        font-weight: normal;
        .title {
          font-weight: bold;
        }
        td {
          overflow: hidden;
          padding-left: 1rem;
          a {
            color: inherit;
          }
        }
      }
    }
    box-shadow: var(--box-shadow);
  }

  .footer {
    margin-top: 1rem;
  }
}

.Pagination {
  margin: 0 auto;
  width: fit-content;
  button {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 0.4rem;
    padding: 0;
    border: none;
    background: none;
  }
  .page {
    color: var(--text-secondary);
  }
  .activePage {
    color: var(--accent);
  }
}
