@import '@styles/utils';
@import '@styles/mixin';
.markdown{
  display:inline-block;
  font-size: 1rem;
  width: 100%;
  color: $default-black;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
  a{
    color: $dark-green;
    text-decoration-line: none;
    &:hover{
      color: $focus-red;
      text-decoration-line: underline;
    }
  }
}
.anchorSideMenu{
  
}

@include mobile{
  .markdown{
    font-size: 1.2rem;
  }
  .anchorSideMenu{
    display: none;
  }
}
