@import '@styles/mixin';

.post{
  width: 750px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  .title{
    font-size: 2.5rem;
    line-height: 1.5;
    letter-spacing: -0.006em;
    margin-top: 0.6rem;
    font-weight: 800;
    color: var(--text-primary);
    margin-bottom: 2rem;
    word-break: keep-all;
  }
}
@include mobile{
  .post{
    width: 100%;
  }
}