@import '@styles/utils';
@import '@styles/mixin';

.markdown{
  display: inline-block;
  font-size: 1rem;
  width: 100%;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
  a {
    color: var(--secondary);
    text-decoration-line: none;
    &:hover {
      color: var(--accent);
      text-decoration-line: underline;
    }
  }
  pre {
    code {
      padding: 16px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      background-color: var(--bg-toggle);
      border-radius: 3px;
    }
  }
}



@include mobile {
  .markdown {
    font-size: 1.2rem;
  }
  .anchorSideMenu {
    display: none;
  }
}
