{
  "presets": ["next/babel", "@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@styles": "./src/styles",
          "@pages": "./src/pages",
          "utils/": "./src/utils/",
        }
      }
    ],
    ["@babel/plugin-transform-runtime"]
  ]
}
