{
  "presets": ["next/babel", "@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@styles": "./src/styles",
          "@pages": "./src/pages",
          "@api": "./src/api",
          "@types": "./src/api",
          "@utils": "./src/utils",
          "@recoil": "./src/recoil"
        }
      }
    ],
    ["@babel/plugin-transform-runtime"]
  ]
}
