@import '@styles/mixin';
@import '@styles/utils';

.container {
  @include mobile {
    width: calc(100% - 2rem);
  }
  width: 25rem;
  border-radius: 4px;
  background-color: var(--bg-primary);
  box-shadow: var(--box-shadow);
  margin: 1rem;
  .listTitle {
    border-bottom: solid 1px var(--text-secondary);
    padding: 0 1rem;
    margin: 0 1rem;
    // width: 80%;
  }
  ul {
    padding: 5px 0px 5px 5px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
}

.DefaultViewItem {
  vertical-align: middle;
  margin: 0 1rem;
  border-bottom: solid 1px var(--text-secondary);
  .listItemWrapper {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    .title {
      a {
        color: var(--text-primary);
      }
      width: 5rem;
      flex-grow: 4;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .postInfo {
      display: flex;
      flex-direction: row;
      .author {
        a {
          color: var(--text-primary);
        }
        margin-left: 1rem;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .like {
        margin-left: 1rem;
        flex-grow: 1;
        color: var(--accent);
      }
      .date {
        margin-left: 1rem;
        flex-grow: 3;
        color: $default-grey;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.TileViewItem {
  .listItemWrapper {
    .tileMain {
      .imgWrapper {
        img {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}
