@import '@styles/mixin';
@import '@styles/utils';
.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  @include desktop {
    min-height: 800px;
  }
}

.homeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.default {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
