@import '@styles/mixin';
@import '@styles/utils';
.container {
  max-width: 1264px;
  background: none;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  @include desktop{
    min-height: 800px;
  }
}

.homeList {
  display: flex;
  flex-wrap: wrap;
}

.default {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
