.container {
  width: 3rem;
}

.wrapper {
  min-width: 25rem;
  padding: 1rem;

  .headerWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    border-bottom: solid var(--secondary) 1px;
  }

  input {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    margin-right: 1rem;
  }
  button {
    margin: 1rem;
    border-radius: 4px;
    padding: 0.5rem;
    color: var(--text-primary);
    background-color: var(--accent);
  }
  .inputContainer {
    border-top: solid 1px var(--accent);
  }
  .resetButton {
    background-color: var(--accent);
  }
  .textareaWrapper {
    padding: 1rem;
    textarea {
      width: 80%;
      height: 10rem;
      resize: none;
      color: var(--text-primary);
      background-color: var(--bg-secondary);
    }
  }
  .result {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    padding: 1rem;
  }
}
