@import '@styles/utils';

.tagList {
  display: block;
  margin-bottom: 1rem;
  .tagInput{
    color: var(--text-primary);
    background-color: var(--bg-toggle);

  }
}

.tag {
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  display: inline-block;
  background-color: var(--secondary);
  font-weight: bold;
  a {
    color: var(--text-primary);
  }
  button {
    margin-left: 0.5rem;
    background-color: transparent;
    color: var(--accent);
    border: 0px;
    outline: 0px;
    border-radius: 1rem;
  }
}

.tagInput {
  display: inline-flex;
  outline: none;
  cursor: text;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  min-width: 8rem;
  border: none;
  padding: 0 0.5rem;
  border-radius: 4px;
  background-color: var(--bg-toggle);
  
  &:focus{
    border: 1px solid var(--accent);

  }
}
