@import '@styles/utils';

.tagList {
  display: block;
}

.tag{
  margin: 0 8px 0 0;
  padding: 0 7px;
  height: auto;
  border: solid 1px $tag-border;
  border-radius: 2px;
  font-size: 0.8rem;
  display: inline-block;
  color: $tag-font;
  background-color: $tag-background;
  font-weight: bold;
  margin-right: 1rem;
  a {
    color: $tag-font;
    text-decoration: none;
  }

  button {
    background-color: transparent;
    color: $tag-font;
    border: 0px;
    outline: 0px;
    border-radius: 1rem;
    &:hover {
      color: $focus-red;
    }
  }
}

.tagInput{
  display: inline-flex;
  outline: none;
  cursor: text;
  font-size: 1.125rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  min-width: 8rem;
  border: none;
}