@import '@styles/utils';
.container {
  max-width: 1264px;
  width: 80%;
  background: none;
  justify-content: space-between;
  margin: 0 auto;
}

.tile {
  display: flex;
}

.default {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
