@import '@styles/utils.scss';

.postHeader{
  .title{
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: -0.006em;
    margin-top: 0.6rem;
    font-weight: 800;
    color: var(--text-primary);
    margin-bottom: 2rem;
    word-break: keep-all;
  }
  .editorName{
    font-size: 1rem;
    color: var(--text-secondary);

  }
  .editDate{
    color: var

  }
  
}