@import '../../styles/utils.scss';

.postHeader{
  .title{
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: -0.006em;
    margin-top: 0.6rem;
    font-weight: 800;
    color: rgb(52, 58, 64);
    margin-bottom: 2rem;
    word-break: keep-all;
  }
  .editorName{
    font-size: 1rem;

  }
  .editDate{

  }
  
}