@import './utils';

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 2.6;
  color: rgb(34, 37, 41);
  background-color: $global-background;
}

div{
  display: block;
}

.content {
  display: flex;
}

input, button, textarea{
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: $default-black;
}

li {
  list-style: none;
}

img {
  border: 0;
}