$global-background: #ffffff;
$focus-brown: #ebc999;
$focus-blue: #8ca9d3;
$focus-red: #f26659;

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', 나눔고딕, 'Nanum Gothic',
    'Noto Sans KR', 'Noto Sans CJK KR', arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.6;
  color: rgb(33, 37, 41);
}


//header components style
.header {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
  font-size: 1.2rem;
  height: 4rem;
  background-color: $global-background;
  .header-container {
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .logo {
    margin-right: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    display: block;
    cursor: pointer;
  }
  .search {
    display: flex;
    flex: 0 0 30%;
    align-items: center;
    justify-content: space-between;
    &__input {
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all 0.2s;
      // margin-right: -3.5rem;
      &::-webkit-input-placeholder {
        font-weight: 100;
        color: grey;
      }
      &:focus {
        outline: none;
        width: 100%;
        background-color: $focus-brown;
      }
    }

    &__button {
      // width: 1.125rem;
      // height: 1.125rem;
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
      &:active {
        transform: translateY(2px);
      }
    }
    &__icon {
      height: 1.125rem;
      width: 1.125rem;
    }
  }

  .user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;
    & > * {
      padding: 0 2 rem;
      cursor: pointer;
    }

    & > *:hover {
      background-color: $focus-brown;
    }
    &__icon {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 50%;
      img {
        height: 2rem;
        width: 2rem;
      }
    }

    &__notification {
      font-size: 0.8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: $focus-red;
      color: white;
      text-align: center;
      position: absolute;
      top: 1.5rem;
      right: 1rem;
    }

    &__user {
      border-radius: 50%;
      img {
        border-radius: 50%;
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        object-fit: cover;
        transition: all 0.125s ease-in 0s;
        box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
      }
    }
    .dropdown {
      position: absolute;
      right: 0px;
      top: 4em;
      .menu-wrapper {
        // position: relative;
        display: flex;
        flex-direction: column;
        z-index: 0;
        width: 12rem;

        box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
        a {
          color: inherit;
          text-decoration: none;
          padding: 0.75rem 1rem;
          line-height: 1.5;
          font-weight: 500;
          &:hover {
            background-color: $focus-brown;
          }
        }
      }
    }
  }
}

.content {
  display: flex;
}
