@import './utils';

html{
  font-size:16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
body[data-theme='light'] {
  --accent: #ff6b00;
  --secondary: #ffcf70;
  --text-primary: #27201a;
  --text-secondary: #ffcf70;
  --bg-primary: #fff;
  --bg-secondary: #fff;
  --bg-toggle: #fff8e0;
}

body[data-theme='dark'] {
  --accent: #ff6b00;
  --secondary: #4a4742;
  --text-primary: #e8e6e1;
  --text-secondary: #4a4742;
  --bg-primary: #3b3831;
  --bg-secondary: #25201d;
  --bg-toggle: #a9a9a9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 2.6;
  color: var(--text-primary);
  background: var(--bg-secondary);
}

div {
  display: block;
}

.content {
  display: flex;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

a {
  text-decoration: none;
  color: $default-black;
}

li {
  list-style: none;
}

img {
  border: 0;
}
