$global-background: #F5F5F5; 
$header-background: #ffffff;
$focus-brown: #ebc999;
// $default-green: #8ca9d3;
$default-green: #8DB48E;
$focus-red: #f26659;
$dark-green: #4D724D;
// $default-black: #000000ab;
$default-black: #373833;
$default-grey: rgb(173, 181, 189);