$global-background: #f5f6f7; 
$header-background: #ffffff;
$default-brown: #ebc999;
// $default-green: #8ca9d3;
$default-green: #8DB48E;
$focus-red: #f26659;
$dark-green: #4D724D;
// $default-black: #000000ab;
$default-black: #373833;
$default-grey: rgb(173, 181, 189);
$tag-font: #1d39c4;
$tag-border: #adc6ff;
$tag-background: #f0f5ff;
$preview-background: #f3f3f3;