@import '@styles/mixin';

.AppLayout {
  @include mobile {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2rem);
  }
  width: 80%;
  max-width: 1264px;
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
