@import '@styles/mixin';

.AppLayout{
  @include mobile {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    width: fit-content;
  }
  width: 80%;
  max-width: 1264px;
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1.2rem;
}
