.Content {
  border-bottom: 1px solid var(--secondary);
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  .toggleButton{
    color: var(--text-primary);
    font-weight: bold;
  }
}

.ContentText {
  font-size: 1.12rem;
  padding: 0 1rem;
}

.Reply {
  .ContentContainer {
    border-radius: 4px;
    padding: 1rem;
    margin-left: 2rem;
    background-color: var(--bg-toggle);
  }
}
