@import '@styles/utils';

.Comment {
  border-radius: 2rem;
}

.toggleButton {
  cursor: pointer;
  font-weight: bold;
  border: 0px;
  color: $default-green;
  background-color: $global-background;
  &:hover {
    color: $dark-green;
  }
}

.noreply {
  padding-left: 1rem;
}
