@import '@styles/utils';

.Comment{
  border-radius: 2rem;
}


.toggleButton {
  cursor: pointer;
  font-weight: bold;
  border: 0px;
  color: $default-green;
  background-color: $global-background;
  &:hover {
    color: $dark-green;
  }
}

.reply {
  border-left: 1px solid $default-grey;
  padding-left: 1rem;
}

.noreply {
  padding-left: 1rem;
}

.commentInputForm {
  border: $dark-green 1px;
}
