.defaultPostList{
  width: 40%;
  
  ul{
    padding: 0.6rem;
    // border-bottom: 1px solid var(--color-gray-200);
    // transition: 0.3s;
    list-style-type: none;
  }

}


.tilePostList{
  width: 100%;
  ul{
    padding: 0.6rem;
    display: flex;
  }
}