@import '@styles/utils';
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: flex-end;
  & > * {
    padding: 0 2 rem;
    cursor: pointer;
  }

  & > *:hover {
    background-color: var(--bg-toggle);
  }

  .UserProfile {
    border-radius: 50%;
    img {
      border-radius: 50%;
      display: block;
      height: 2.5rem;
      width: 2.5rem;
      object-fit: cover;
      transition: all 0.125s ease-in 0s;
      box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
    }
  }
  .dropdown {
    position: absolute;
    right: 0px;
    top: 4em;
    .menuWrapper {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      width: 12rem;
      box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
      a,
      div {
        color: inherit;
        background-color: var(--text-secondary);
        text-decoration: none;
        padding: 0.75rem 1rem;
        line-height: 1.5;
        font-weight: 500;
        &:hover {
          background-color: $default-green;
        }
      }
      .logout {
        padding: 0;
        &:hover {
          background-color: $default-green;
        }
      }
    }
  }
}

.LoginButton {
  height: 2rem;
  color: var(--bg-secondary);
  background: var(--accent);
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    color: var(--text-primary);
    background: var(--secondary);
  }
}
